azure-core
azure-identity
azure-keyvault-secrets
boto3
botocore
certifi
cffi
charset-normalizer
config
cryptography
dnspython
docopt
filelock
idna
isodate
jmespath
Levenshtein
msal
msal-extensions
pipreq
pipreqs
pycparser
PyJWT
pymongo
python-dateutil
python-Levenshtein
RapidFuzz
requests
requests-file
s3transfer
six
tldextract
typing_extensions
urllib3
yarg
